<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
    {% for item in listCatagory %}
        {% if item.parent is None %}
            <li>
                {{ item.name }}
                <ul>
                {% for subItem in listCatagory %}
                    {% if subItem.parent.name == item.name %}
                        <li>{{ subItem.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>